---
layout: page
title: informatics projects
---
<div class ="page">
  <h1>Informatics Phase 1 Projects</h1>
  <p>Informatics Projects</p>
  <p><a href="https://github.com/IrishMarineInstitute/species-dashboard">Species Dashboard</a></p>
  <p><a href="https://github.com/IrishMarineInstitute/igfs-data-explorer">Irish Groudfish Survey</a></p>
  <p><a href="https://github.com/IrishMarineInstitute/digital-stockbook">Digital Stockbook</a></p>
  <p><a href="https://github.com/IrishMarineInstitute/cod-tagging">Cod Tagging</a></p>
  
</div><!--.page-->